<div class="container">
     <h2>EXPERIENCE</h2>
     <hr>
     <h3>Senior .Net Developer</h3>
     <h4>Tech Innovate Solutions</h4>
     <span class="info-social">
          <div class="icon">
               <span class="material-symbols-outlined all-icon">
                    calendar_month
               </span>
               <p class="exp-workInfo">01/2019 Present</p>
          </div>
          <div class="icon">
               <span class="material-symbols-outlined all-icon">
                    location_on
               </span>
               <p class="exp-workInfo">Washington, D.C.</p>
          </div>
     </span>

     <ul>
          <p>
               <li>Led team of 5 to develop a robust .NET application, resulting in a 20% increase in application
                    efficiency
                    and
                    customer satisfaction</li>
               <li>Spearheaded the migration of legacy systems to .NET Core, enhancing system performance by 30% and
                    reducing
                    server costs</li>
               <li>Implemented continuous integration and deployment practices, leading to a 50% reduction in deployment
                    times and
                    fewer rollbacks</li>
               <li>Authored comprehensive solutions documentation and facilitated a 25% improvement in maintenance
                    efficiency
                    through better codebase understanding</li>
          </p>
     </ul>
     <hr class="hr2">

     <h3>Full Stack Developer</h3>
     <h4>Global Tech Solutions</h4>
     <span class="info-social">
          <div class="icon">
               <span class="material-symbols-outlined all-icon">
                    calendar_month
               </span>
               <p class="exp-workInfo">08/2015 - 12/2018</p>
          </div>
          <div class="icon">
               <span class="material-symbols-outlined all-icon">
                    location_on
               </span>
               <p class="exp-workInfo">Arlington, VA</p>
          </div>
     </span>

     <ul>
          <p>
               <li>Developed an Angular-based frontend for a high-traffic e-commerce platform, enhancing user experience
                    and
                    boosting conversions by 15%</li>
               <li>Optimized database queries on SQL Server, reducing data retrieval times by 40% and supporting
                    business
                    analytics</li>
               <li>Collaborated with cross-functional teams to design a responsive web layout, which increased mobile
                    user
                    engagement by 20%</li>
               <li>Conducted rigorous code reviews and introduced unit testing practices to maintain a 99.9% uptime for
                    critical applications</li>
               <li>Ensured web application security by integrating industry-standard encryption, thwarting potential
                    data
                    breaches</li>
          </p>
     </ul>
     <hr class="hr2">

     <h3>Software Engineer</h3>
     <h4>Innovative Coding Inc.</h4>
     <span class="info-social">
          <div class="icon">
               <span class="material-symbols-outlined all-icon">
                    calendar_month
               </span>
               <p class="exp-workInfo">06/2012 - 07/2015</p>
          </div>
          <div class="icon">
               <span class="material-symbols-outlined all-icon">
                    location_on
               </span>
               <p class="exp-workInfo">Fairfax, VA</p>
          </div>
     </span>

     <ul>
          <p>
               <li>Initiated a project to refactor the back-end codebase in C#, enhancing code maintainability and
                    reducing
                    technical debt by 40%</li>
               <li>Implemented new features in an accounting software used by 500+ clients, improving financial
                    reporting
                    accuracy</li>
               <li>Assisted in the development of web services which enabled seamless integration with third-party
                    services,
                    enhancing system interoperability</li>
               <li>Established automated testing frameworks which reduced bug rates by 60% in delivered software
                    products</li>
          </p>
     </ul>
</div>