<div class="info-head">
     <h1>Praveen Kumar R</h1>
     <h2 style="color: white;">.Net/Angular Full Stack Developer | Web Application Expertise</h2>
     <div class="info-social">
          <div class="icon">
               <span class="material-symbols-outlined all-icon">
                    call
               </span>
               <h4>+91-9042630085</h4>
          </div>
          <div class="icon">
               <span class="material-symbols-outlined all-icon">
                    alternate_email
               </span>
               <h4>devprav002&#64;gmail.com</h4>
          </div>
          <div class="icon">
               <span class="material-symbols-outlined all-icon">
                    link
               </span>
               <h4>Linked In</h4>
          </div>
     </div>
     <div class="icon">
          <span class="material-symbols-outlined all-icon">
               home_pin
          </span>
          <h4>Dindigul</h4>
     </div>
</div>