/* You can add global styles to this file, and also import other style files */
body {
     font-family: "Roboto" "Rubik" sans-serif;
}
.grid-container{
     display: grid;
     grid-template-columns: auto auto;
}
h2 {
     font-family: "Rubik", sans-serif;
     font-weight: 600;
     color: rgb(82, 68, 71);
     margin-bottom: 0;
}

h3 {
     margin-bottom: 0;
     color: rgb(82, 68, 71);
     font-family: "Roboto", sans-serif;
     font-weight: 500;
}

h4 {
     font-family: "Roboto", sans-serif;
     font-size: 18px;
     margin: 8px 0px 5px 0px;
     color: rgb(76, 87, 118);
}

p {
     font-family: "Roboto", sans-serif;
     font-weight: 300;
}

hr {
     margin: 0;
     border: 2px solid;
     color: rgb(82, 68, 71);
}

.info-social {
     display: flex;
}

.hr2 {
     border: 1px dashed rgb(197, 197, 197);
     border-radius: 10px;
}

.exp-workInfo {
     margin: 0;
     padding: 0px 53px 0px 0px;
}

.material-symbols-outlined {
     color: rgb(76, 87, 118);
     padding-right: 23px;
     margin: 12px 0px 0px 0px;
}