<div class="container">
     <div>
          <app-info></app-info>
     </div>
     <div class="grid-container">
          <div class="grid-item">
               <app-summary></app-summary>
               <app-experience></app-experience>
               <app-education></app-education>
          </div>
          <div class="grid-item">
               <app-projects></app-projects>
               <app-achievements></app-achievements>
               <app-skills></app-skills>
               <app-courses></app-courses>
          </div>
     </div>
</div>
<router-outlet />