<div class="container">
     <h2>EDUCATION</h2>
     <hr>
     <h3>Master of Science in Computer Science</h3>
     <h4>Georgetown University</h4>
     <span class="info-social">
          <div class="icon">
               <span class="material-symbols-outlined all-icon">
                    calendar_month
               </span>
               <p class="exp-workInfo">01/2010 - 01/2012</p>
          </div>
          <div class="icon">
               <span class="material-symbols-outlined all-icon">
                    location_on
               </span>
               <p class="exp-workInfo">Washington, D.C.</p>
          </div>
     </span>
     <br />
     <hr class="hr2">

     <h3>Bachelor of Science in Information Technology</h3>
     <h4>Virginia Tech</h4>
     <span class="info-social">
          <div class="icon">
               <span class="material-symbols-outlined all-icon">
                    calendar_month
               </span>
               <p class="exp-workInfo">01/2006 - 01/2010</p>
          </div>
          <div class="icon">
               <span class="material-symbols-outlined all-icon">
                    location_on
               </span>
               <p class="exp-workInfo">Blacksburg, VA</p>
          </div>
     </span>
</div>